<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
    xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <!-- Copyright (C) 2011-2012 Mojavemvc.org Licensed under the Apache License, 
        Version 2.0 (the "License"); you may not use this file except in compliance 
        with the License. You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0 
        Unless required by applicable law or agreed to in writing, software distributed 
        under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES 
        OR CONDITIONS OF ANY KIND, either express or implied. See the License for 
        the specific language governing permissions and limitations under the License. -->

    <display-name>WebTestMVC</display-name>

    <servlet>
        <servlet-name>FrontController</servlet-name>
        <servlet-class>org.mojavemvc.FrontController</servlet-class>
        <init-param>
            <param-name>controller-classes</param-name>
            <param-value>org.mojavemvc.tests.controllers</param-value>
        </init-param>
        <init-param>
            <param-name>jsp-path</param-name>
            <param-value>/WEB-INF/jsp/</param-value>
        </init-param>
        <init-param>
            <param-name>jsp-error-file</param-name>
            <param-value>error.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>guice-modules</param-name>
            <param-value>org.mojavemvc.tests.modules</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>FrontController</servlet-name>
        <url-pattern>/serv/*</url-pattern>
    </servlet-mapping>

</web-app>
